In [1]:
import pandas as pd
import numpy as np
from mlxtend import preprocessing as pp
from mlxtend import frequent_patterns as fp

vgData_path = "D:\\文档\\grd\\course\\数据挖掘\\assignments\\06\\284_618_bundle_archive\\vgsales.csv"
vgData = pd.read_csv(vgData_path)

vgData = vgData.iloc[:,1:]
vgData

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [2]:
#对Name, Platform, Year, Genre, Publisher进行关联规则挖掘
vgSub = vgData.iloc[:,0:5]
vgSub.head()

                       Name Platform    Year         Genre Publisher
0                Wii Sports      Wii  2006.0        Sports  Nintendo
1         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

In [3]:
vgs_ll = vgSub.to_numpy().astype("str").tolist()
vgs_ll[:10]

[['Wii Sports', 'Wii', '2006.0', 'Sports', 'Nintendo'],
 ['Super Mario Bros.', 'NES', '1985.0', 'Platform', 'Nintendo'],
 ['Mario Kart Wii', 'Wii', '2008.0', 'Racing', 'Nintendo'],
 ['Wii Sports Resort', 'Wii', '2009.0', 'Sports', 'Nintendo'],
 ['Pokemon Red/Pokemon Blue', 'GB', '1996.0', 'Role-Playing', 'Nintendo'],
 ['Tetris', 'GB', '1989.0', 'Puzzle', 'Nintendo'],
 ['New Super Mario Bros.', 'DS', '2006.0', 'Platform', 'Nintendo'],
 ['Wii Play', 'Wii', '2006.0', 'Misc', 'Nintendo'],
 ['New Super Mario Bros. Wii', 'Wii', '2009.0', 'Platform', 'Nintendo'],
 ['Duck Hunt', 'NES', '1984.0', 'Shooter', 'Nintendo']]

In [4]:
te = pp.TransactionEncoder()
te_nd = te.fit(vgs_ll).transform(vgs_ll)
te_df = pd.DataFrame(te_nd, columns=te.columns_)
te_df.head()

,'98 Koshien,.hack//G.U. Vol.1//Rebirth,.hack//G.U. Vol.2//Reminisce,.hack//G.U. Vol.2//Reminisce (jp sales),.hack//G.U. Vol.3//Redemption,.hack//Infection Part 1,.hack//Link,.hack//Mutation Part 2,.hack//Outbreak Part 3,.hack//Quarantine Part 4: The Final Chapter,...,pro evolution soccer 2011,responDESIGN,th!nk Logic Trainer,thinkSMART,thinkSMART FAMILY!,thinkSMART: Chess for Kids,uDraw Studio,uDraw Studio: Instant Artist,wwe Smackdown vs. Raw 2006,¡Shin Chan Flipa en colores!
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
frequent_itemset = fp.apriori(te_df, min_support=0.003, use_colnames=True)
frequent_itemset.loc[:5]
frequent_itemset.loc[-6:]

      support                                     itemsets
0    0.003615                                     (1993.0)
1    0.007290                                     (1994.0)
2    0.013194                                     (1995.0)
3    0.015845                                     (1996.0)
4    0.017412                                     (1997.0)
..        ...                                          ...
657  0.003856               (Electronic Arts, Sports, PS3)
658  0.004458              (Electronic Arts, Sports, X360)
659  0.003675                (Electronic Arts, Sports, XB)
660  0.003916  (Sports, PS2, Konami Digital Entertainment)
661  0.003133     (Sony Computer Entertainment, PS2, Misc)

[662 rows x 2 columns]

In [6]:
#lift
as_rules = fp.association_rules(frequent_itemset,metric="lift",min_threshold=0.1)
as_rules.loc[:5]
as_rules.loc[-6:]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1994.0),(SNES),0.007290,0.014399,0.003193,0.438017,30.419240,0.003088,1.753789
1,(SNES),(1994.0),0.014399,0.007290,0.003193,0.221757,30.419240,0.003088,1.275579
2,(PS),(1995.0),0.072057,0.013194,0.005965,0.082776,6.273583,0.005014,1.075861
3,(1995.0),(PS),0.013194,0.072057,0.005965,0.452055,6.273583,0.005014,1.693496
4,(SAT),(1995.0),0.010423,0.013194,0.003133,0.300578,22.780796,0.002995,1.410887
...,...,...,...,...,...,...,...,...,...
1267,"(Sony Computer Entertainment, Misc)",(PS2),0.007712,0.130196,0.003133,0.406250,3.120286,0.002129,1.464932
1268,"(PS2, Misc)",(Sony Computer Entertainment),0.013375,0.041150,0.003133,0.234234,5.692269,0.002583,1.252146
1269,(Sony Computer Entertainment),"(PS2, Misc)",0.041150,0.013375,0.003133,0.076135,5.692269,0.002583,1.067932
1270,(PS2),"(Sony Computer Entertainment, Misc)",0.130196,0.007712,0.003133,0.024063,3.120286,0.002129,1.016754
1271,(Misc),"(Sony Computer Entertainment, PS2)",0.104772,0.012291,0.003133,0.029902,2.432929,0.001845,1.018154

In [7]:
from sklearn import svm
from sklearn import model_selection as md
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import itertools as it

#这是接下来要预测的sales的名称
sales_l = ["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]

#每次选中一列后就把剩余列作为参数
#但是要把对应文字转为整数
change_l = ["Name","Platform","Genre","Publisher"]
for c in change_l:
    vg_s = vgData.loc[:,c]
    g = it.groupby(vg_s.sort_values())
    l = [v for v, _ in g]
    for i, v in enumerate(l):
        vgData.loc[vgData.loc[:,c]==v,c] = i
vgData

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,11007,26,2006.0,10,359,41.49,29.02,3.77,8.46,82.74
1,9327,11,1985.0,4,359,29.08,3.58,6.81,0.77,40.24
2,5573,26,2008.0,6,359,15.85,12.88,3.79,3.31,35.82
3,11009,26,2009.0,10,359,15.75,11.01,3.28,2.96,33.00
4,7346,5,1996.0,7,359,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,11101,6,2002.0,4,269,0.01,0.00,0.00,0.00,0.01
16594,5796,7,2003.0,8,241,0.01,0.00,0.00,0.00,0.01
16595,8144,16,2008.0,6,21,0.00,0.00,0.00,0.00,0.01
16596,5014,4,2010.0,5,8,0.00,0.01,0.00,0.00,0.01
16597,8967,6,2003.0,4,546,0.01,0.00,0.00,0.00,0.01

In [8]:
#使用两折交叉验证
#这里以Global sales为例
kf = md.KFold(n_splits=2,shuffle=True)

selected = 9

mark = [True] * 10
mark[selected] = False

#简单处理下数据
for train_index, test_index in kf.split(vgData.loc[:,mark],vgData.iloc[:,selected]):
    vg_train = vgData.loc[train_index,mark]
    y_train = vgData.iloc[train_index,selected]
    vg_test = vgData.iloc[test_index,mark]
    y_test = vgData.iloc[test_index,selected]

vg_train.fillna(0,inplace=True)

In [9]:
y_train.fillna(0,inplace=True)

In [10]:
y_test.fillna(0,inplace=True)
vg_test.fillna(0,inplace=True)

In [11]:
#把数据化为ndarray格式
X_train = vg_train.to_numpy(np.float32)
X_test = vg_test.to_numpy(np.float32)
y = y_train.to_numpy(np.float32)

In [12]:
#建立回归模型
regr = make_pipeline(StandardScaler(),svm.SVR(C=1.0,epsilon=0.2))
model = regr.fit(X_train,y)
y_prd = model.predict(X_test)

In [13]:
y_prd

array([ 4.42421137,  4.4889375 ,  4.42421179, ..., -0.01686584,
       -0.0251724 , -0.03936957])

In [14]:
y_test

0        82.74
2        35.82
5        30.26
7        29.02
9        28.31
         ...
16587     0.01
16590     0.01
16592     0.01
16593     0.01
16595     0.01
Name: Global_Sales, Length: 8299, dtype: float64